.sanz_audio {
  width: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.sanz_audio * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sanz_audio .sanz_audio_controls.volume,
.sanz_audio .sanz_audio_controls.fa-play,
.sanz_audio .sanz_audio_controls.fa-pause {
  cursor: pointer;
}
.sanz_audio .sanz_audio_controls.fa-play,
.sanz_audio .sanz_audio_controls.fa-pause {
  width: 10px;
}
.sanz_audio .sanz_audio_controls.volume {
  width: 20px;
}
.sanz_audio .sanz_audio_time,
.sanz_audio .sanz_audio_controls {
  margin: auto;
}
.sanz_audio .fa:not(.fa-play):not(.fa-pause) {
  font-size: 20px;
}
.sanz_audio .sanz_audio_controls.volume_control .progress_control,
.sanz_audio .sanz_audio_controls.progress .progress_control,
.sanz_audio .sanz_audio_controls.volume_control .volume_control_toggler,
.sanz_audio .sanz_audio_controls.progress .volume_control_toggler {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: move;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  border: 1px solid #ef4747;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.sanz_audio .sanz_audio_controls.volume_control {
  width: 20%;
  height: 2px;
  position: relative;
  background-color: #ef4747;
}
.sanz_audio .sanz_audio_controls.volume_control .volume_control_toggler {
  left: 100%;
}
.sanz_audio .sanz_audio_controls.progress {
  width: 30%;
  height: 2px;
  position: relative;
  background-color: #ef4747;
}
