@import 'nib'

@import './icono.css'

circle(size)
	width unit(size, px)
	height unit(size, px)
	border-radius unit(size / 2, px)

.sanz_audio
	width 300px
	display flex
	user-select none
	flex-flow row wrap
	justify-content space-around

	*
		user-select none

	.play-pause
		cursor pointer

	.icono-play
		border-width 9px 0 9px 15px

	.icono-pause
		height 17px
		box-shadow inset 0 0 0 32px, 10px 0 0 0

	i
		color #909090

	.sanz_audio_controls.volume
		cursor pointer

	.sanz_audio_controls.volume
		width 35px
		margin-right 10px
		text-align center

		i
			margin 0
			padding 4px 3px

	.sanz_audio_time, .sanz_audio_controls
		margin auto

	.sanz_audio_controls
		&.volume_control, &.progress
			.volume_control_toggler, .progress_control
				circle(10)
				cursor move
				background-color #FFF
				border 1px solid #EF4747
				transform translate(0, -50%)

			.progress_control
				absolute top 50% left 0

			.volume_control_toggler
				absolute top 50% right 0

		&.volume_control
			width 20%
			height 2px
			position relative
			background-color #EF4747

		&.progress
			width 30%
			height 2px
			position relative
			background-color #EF4747
